<div class = "container">
    <div class= "row">

    <% for products in @breakfasts %>

    <div class = "col-md-3">      
            <div class="wrapper">
                <div class="product-img">
                    <img src="<%=products[:image]%>" height="195" width="180">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1><%=products[:name]%></h1>
                        <h2><%=products[:amount]%> </h2>
                         <p>$<span><%="%.2f" % products[:price]%></span></p>
                    </div>
                    <div class="product-price-btn">
                    <input type="number" min="0" class="form-control add-to-cart" placeholder="1" name="nuber_of_items">
                        <button type="button" class="add_basket" id="<%= products[:id] %>"">Add</button>
                    </div>
                </div>
            </div>
    </div>
    
<% end %>

</div>

<!-- Javascript -->

<script>

$("button.add_basket").click(function(){ //Start function on add button click
  id = $(this).attr("id")                //id variable is set to the id of buttton, which is set to the products id. $(this) selects the element that started the function
  $.ajax({                               //ajax sens a JSON without going to URL
    url: "/basket",
    type: "post",
    data: {product_id: id}
  }).done(function(data){                //.done ensures this happens after
    $("#basket").html("Basket: " + data.length); //Set content of the
  });                                            //selected element (??)
  event.preventDefault();               //prevents std link functionality
});

</script>