
<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-3">
            <h1> Active Lists </h1>

            <table class="table order-table mt-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Address</th>
                        <th scope="col">Order Value</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                 <% for orders in @orders %>
                    <tr>
                        <th scope="row"> <a href= '/list/<%=orders[:id]%>'> <%=orders[:id]%> </a> </th> 
                            <td> <%=orders[:created_at].strftime("%d/%m/%Y")%> </td> 
                            <td> <%=orders[:created_at].strftime("%I:%M %p")%> </td>
                            <td> <%=orders[:address]%> </td>
                            <td> $<%="%.2f" % orders[:total]%> </td>
                            <td>No action</td>
                    </tr>
                 <% end %>
                </tbody>
            </table>           
        </div>
    </div>
</div>