

<div class = "container">
    <div class= "row">

    <% for products in @products %>
    <% cart_quantity = @basket.find{|y| y[:product_id] == products[:id]}[:order_quantity]%>
    <% if cart_quntity == []%>
    <% quantity == 0 %>
    <% else>
    <% quantity == cart_quantity>
    <% end %>

    <div class = "col-md-3">      
            <div class="wrapper">
                <div class="product-img">
                    <img src="../<%=products[:image]%>" height="195" width="180">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1><%=products[:name]%></h1>
                        <h2><%=products[:amount]%> </h2>
                         <p>$<span><%="%.2f" % products[:price]%></span></p>
                    </div>
                    <div class="product-price-btn d-flex">
                    <p type="text" min="0" class="form-control add-to-cart mr-auto" name="quantity" id="<%=products[:id]%>_quantity">
                    <%= quantity %>
                    </p>
                        <button type="button" class="add_basket mr-2" onclick = "addQuantity(this.dataset.id)" name="add" data-id="<%= products[:id]%>"> + </button>
                        <button type="button" class="add_basket mr-3" onclick = "subQuantity(this.dataset.id)"name="subtract" data-id="<%= products[:id]%>"> — </button>
                    </div>
                </div>
            </div>
    </div>
<% end %>

</div>

<!-- Javascript -->

<script>
   
    function sendQuantity(){
        $.ajax({
            type: "post",
            url: "/basket",
            data: { product_id: id, order_quantity: current_quantity},
            success: function(){
                console.log("success")
            },
            error: function(){
                console.log(arguments);
            }
        });
        console.log(current_quantity, id_quantity);
    }
   
    function setVariables(dataId){
        id = parseInt(dataId, 10)
        id_quantity = ''.concat(id, "_quantity");
        current_quantity = parseInt(document.getElementById(id_quantity).innerHTML, 10);
    }

    function updateInput(){
        document.getElementById(id_quantity).innerHTML = current_quantity; 
    }

    function addQuantity(dataId){
            setVariables(dataId);
            current_quantity++;
            if (current_quantity > 2) {current_quantity=2};
            updateInput(); 
            sendQuantity();
        };

    function subQuantity(dataId){
            setVariables(dataId);
            current_quantity--;
            if (current_quantity < 0) {current_quantity=0};
            updateInput(); 
            sendQuantity();
        };
</script>