<div class = "container">
    <nav>
        <div class="container-cart">
            <ul class="navbar-right">
            <li><a href="#" id="cart"><i class="fa fa-shopping-cart"></i> Check your cart </a></li>
            </ul> <!--end navbar-right -->
        </div> <!--end container -->
    </nav>

    <!-- Shopping cart begins -->

    <div class="container-cart">
        <div class="shopping-cart">
            <div class="shopping-cart-header">
                <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
                <div class="shopping-cart-total">
                    <span class="lighter-text">Total:</span>
                    <span class="main-color-text">$2,229.97</span>
                </div>
            </div> <!--end shopping-cart-header -->

            <ul class="shopping-cart-items">
            <li class="clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg" alt="item1" />
                <span class="item-name">Sony DSC-RX100M III</span>
                <span class="item-price">$849.99</span>
                <span class="item-quantity">Quantity: 01</span>
            </li>

            <li class="clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item2.jpg" alt="item1" />
                <span class="item-name">KS Automatic Mechanic...</span>
                <span class="item-price">$1,249.99</span>
                <span class="item-quantity">Quantity: 01</span>
            </li>

            <li class="clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item3.jpg" alt="item1" />
                <span class="item-name">Kindle, 6" Glare-Free To...</span>
                <span class="item-price">$129.99</span>
                <span class="item-quantity">Quantity: 01</span>
            </li>
            </ul>

            <a href="#" class="button">Checkout</a>
        </div> <!--end shopping-cart -->
    </div> <!--end container -->
</div>
    
<div class = "container">

    <div class="buttonSpacer order">
        <a class="back text-center" href='/categories'> Back to all categories </a>
    </div>

    <div class= "row products-row">

    <% for products in @products %>
    <% if defined?(@basket.find{|y| y[:product_id] == products[:id]}[:order_quantity]) == nil %>
    <% quantity = 0 %>
    <% else %>
    <% quantity = @basket.find{|y| y[:product_id] == products[:id]}[:order_quantity] %>
    <% end %>

    <div class = "col-md-3">      
            <div class="wrapper">
                <div class="product-img">
                    <img src="../<%=products[:image]%>" height="195" width="180">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1><%=products[:name]%></h1>
                        <h2><%=products[:amount]%> </h2>
                         <h5>$<span><%="%.2f" % products[:price]%></span></h5>
                    </div>
                    <div class="product-price-btn d-flex">
                    <p type="text" min="0" class="form-control add-to-cart mr-auto" name="quantity" data-quantity="<%= quantity %>" id="<%=products[:id]%>_quantity">
                    <%= quantity %>
                    </p>
                        <button type="button" class="add_basket mr-2" onclick = "addQuantity(this.dataset.id)" name="add" data-id="<%= products[:id]%>"> + </button>
                        <button type="button" class="add_basket mr-3" onclick = "subQuantity(this.dataset.id)"name="subtract" data-id="<%= products[:id]%>"> — </button>
                    </div>
                </div>
            </div>
    </div>
<% end %>

</div>

<!-- Javascript -->

<script>
   
    function addFormattingAll (){
    var quantity = $(this).attr('data-quantity');
    if(quantity > 0){
         $(this).addClass("inCart")
     }
    };
   
    function subFormatting (){
         document.getElementById(id_quantity).setAttribute('class',"form-control add-to-cart mr-auto");
     };

    function addFormatting (){
         document.getElementById(id_quantity).setAttribute('class',"form-control add-to-cart mr-auto inCart");
     };

   
   $('p').each(addFormattingAll);
    
    function sendQuantity(){
        $.ajax({
            type: "post",
            url: "/basket",
            data: { product_id: id, order_quantity: current_quantity},
            success: function(){
                console.log("success")
            },
            error: function(){
                console.log(arguments);
            }
        });
        console.log(current_quantity, id_quantity);
    }
   
    function setVariables(dataId){
        id = parseInt(dataId, 10)
        id_quantity = ''.concat(id, "_quantity");
        current_quantity = parseInt(document.getElementById(id_quantity).innerHTML, 10);
    }

    function updateInput(){
        document.getElementById(id_quantity).innerHTML = current_quantity; 
    }

    function addQuantity(dataId){
            setVariables(dataId);
            current_quantity++;
            if (current_quantity > 2) {current_quantity=2};
            updateInput(); 
            sendQuantity();
            addFormatting();
        };

    function subQuantity(dataId){
            setVariables(dataId);
            current_quantity--;
            if (current_quantity < 0) {current_quantity=0};
            updateInput(); 
            sendQuantity();
            console.log(current_quantity);
            if (current_quantity == 0) {subFormatting()};
        };
</script>


<!-- Cart -->

<script>

(function(){
 
  $("#cart").on("click", function() {
    $(".shopping-cart").fadeToggle( "fast");
  });
  
})();

</script>